@using System.Security.Claims
@model Spel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    ClaimsPrincipal currentUser = this.User;
    var currentUserId = currentUser.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<h2 class="text-3xl font-bold my-10 text-center">Spel @Model.omschrijving</h2>
<h4 class="text-center">
    @if (Model.speler1Token == currentUserId)
    {
        <span>Jij bent Zwart</span>
    } else if (Model.speler2Token == currentUserId)
    {
        <span>Jij bent Wit</span>
    }
</h4>

<div class="c-container">
    <div id="board"></div>
    <div>
        <button type="button" class="btn btn-primary mt-5" onclick="beurtOverslaan()">Beurt overslaan</button>
    </div>
    <h3 id="turn">Tegenstander</h3>
    <div id="message" class="c-message"></div>
</div>
<div class="c-container d-flex flex-col justify-content-between mt-4">
    <div style="height: 450px; width: 450px;">
        <canvas id="myChart" width="150" height="150"></canvas>
    </div>
    <div style="height: 450px; width: 450px;">
        <canvas id="myChart2" width="150" height="150"></canvas>
    </div>
</div>

@section Scripts {
    <script>
        start('https://localhost:7230/api', '@Model.token', '@currentUserId');
    </script>
}