@model ReversiMvcApp.Models.Speler

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Speler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Guuid" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalGewonnen" class="control-label"></label>
                <input asp-for="AantalGewonnen" class="form-control" />
                <span asp-validation-for="AantalGewonnen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalVerloren" class="control-label"></label>
                <input asp-for="AantalVerloren" class="form-control" />
                <span asp-validation-for="AantalVerloren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalGelijk" class="control-label"></label>
                <input asp-for="AantalGelijk" class="form-control" />
                <span asp-validation-for="AantalGelijk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        
        @if (this.User.IsInRole("Beheerder"))
        {
            <span>Beheerder</span>
        }
        
        @if (this.User.IsInRole("Mediator"))
        {
            <span>Mediator</span>
        }
        
        @if (this.User.IsInRole("Speler"))
        {
            <span>Speler</span>
        }
        
        @if (this.User.IsInRole("Beheerder"))
        {
            <form asp-action="Role">
                <input type="hidden" name="id" value="@Model.Guuid" />
                <div class="form-group">
                    <label for="roles" class="control-label">Rolen</label>
                    <select name="roles" id="roles" class="form-control" multiple>
                        @if (this.User.IsInRole("Beheerder"))
                        {
                            <option value="Beheerder" selected="true">Beheerder</option>    
                        }
                        else
                        {
                            <option value="Beheerder">Beheerder</option>
                        }
                        
                        @if (this.User.IsInRole("Mediator"))
                        {
                            <option value="Mediator" selected="true">Mediator</option>
                        }
                        else
                        {
                            <option value="Mediator">Mediator</option>    
                        }
                        
                        @if (this.User.IsInRole("Speler"))
                        {
                            <option value="Speler" selected="true">Speler</option>
                        }
                        else
                        {
                            <option value="Speler">Speler</option>    
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

